## Async functions in Jupyter

In [3]:
# To run Async functions in Jupyter
import asyncio

async def timer(name, seconds):
    for i in range(seconds):
        await asyncio.sleep(1)
        print(f"Timer {name}: {i + 1} second(s) passed")
    print(f'Timer {name}: finished!')

async def main():
    # Running two timers concurrently
    await asyncio.gather(
        timer("A", 5),  # Timer A for 5 seconds
        timer("B", 3)   # Timer B for 3 seconds
    )
    
await main()

Timer A: 1 second(s) passed
Timer B: 1 second(s) passed
Timer A: 2 second(s) passed
Timer B: 2 second(s) passed
Timer A: 3 second(s) passed
Timer B: 3 second(s) passed
Timer B: finished!
Timer A: 4 second(s) passed
Timer A: 5 second(s) passed
Timer A: finished!

## To run Async functions in command line
standalone Python script (Python3.10+)
### command line
```bash
python async_example.py
```
### code
```python
# async_example.py
import asyncio
import aiohttp
import pandas as pd

async def timer(name, seconds):
    for i in range(seconds):
        await asyncio.sleep(1)
        print(f"Timer {name}: {i + 1} second(s) passed")
    print(f'Timer {name}: finished!')

async def main():
    # Running two timers concurrently
    await asyncio.gather(
        timer("A", 5),  # Timer A for 5 seconds
        timer("B", 3)   # Timer B for 3 seconds
    )
    
if __name__ == "__main__":
    asyncio.run(main())
```

# Book List
url: http://localhost:8000/books.html

In [5]:
import pandas as pd
from playwright.async_api import async_playwright
from bs4 import BeautifulSoup

pw = await async_playwright().start()
browser = await pw.chromium.launch(headless = False)
page = await browser.new_page()
# url=f'http://localhost:8000/books.html'
_ = await page.goto('http://localhost:8000/books.html')
await page.wait_for_selector('body')

selector = await page.query_selector('body')
html = await selector.inner_html()
await browser.close()

soup = BeautifulSoup(html, 'html.parser')
soup

<h1 class="text-3xl font-bold underline">Book List</h1>
<div id="books-container"><div class="my-book-container max-w-sm b rounded overflow-hidden shadow-lg ml-6 mt-6 bg-slate-50 p-2">
<div class="book_tile"><b>1984</b></div>
                by
                <div class="author">George Orwell</div>
<div class="book_id text-right">1</div></div><div class="my-book-container max-w-sm b rounded overflow-hidden shadow-lg ml-6 mt-6 bg-slate-50 p-2">
<div class="book_tile"><b>To Kill a Mockingbird</b></div>
                by
                <div class="author">Harper Lee</div>
<div class="book_id text-right">2</div></div><div class="my-book-container max-w-sm b rounded overflow-hidden shadow-lg ml-6 mt-6 bg-slate-50 p-2">
<div class="book_tile"><b>The Great Gatsby</b></div>
                by
                <div class="author">F. Scott Fitzgerald</div>
<div class="book_id text-right">3</div></div><div class="my-book-container max-w-sm b rounded overflow-hidden shadow-lg ml-6 mt-6 bg-slate-50 p-2">
<div class="book_tile"><b>Pride and Prejudice</b></div>
                by
                <div class="author">Jane Austen</div>
<div class="book_id text-right">4</div></div><div class="my-book-container max-w-sm b rounded overflow-hidden shadow-lg ml-6 mt-6 bg-slate-50 p-2">
<div class="book_tile"><b>The Catcher in the Rye</b></div>
                by
                <div class="author">J.D. Salinger</div>
<div class="book_id text-right">5</div></div></div>

In [6]:
books =  soup.find_all('div', class_="my-book-container")
books[0]

<div class="my-book-container max-w-sm b rounded overflow-hidden shadow-lg ml-6 mt-6 bg-slate-50 p-2">
<div class="book_tile"><b>1984</b></div>
                by
                <div class="author">George Orwell</div>
<div class="book_id text-right">1</div></div>

In [7]:
d=[]
for book in books:
    title=book.find('div',class_="book_tile").get_text(strip=True)
    author=book.find('div',class_="author").get_text(strip=True)
    book_id=book.find('div',class_="book_id").get_text(strip=True)
    d.append({'book_id':book_id, "title":title, "author":author})
d

[{'book_id': '1', 'title': '1984', 'author': 'George Orwell'},
 {'book_id': '2', 'title': 'To Kill a Mockingbird', 'author': 'Harper Lee'},
 {'book_id': '3',
  'title': 'The Great Gatsby',
  'author': 'F. Scott Fitzgerald'},
 {'book_id': '4', 'title': 'Pride and Prejudice', 'author': 'Jane Austen'},
 {'book_id': '5',
  'title': 'The Catcher in the Rye',
  'author': 'J.D. Salinger'}]

In [8]:
pd.DataFrame(d)

  book_id                   title               author
0       1                    1984        George Orwell
1       2   To Kill a Mockingbird           Harper Lee
2       3        The Great Gatsby  F. Scott Fitzgerald
3       4     Pride and Prejudice          Jane Austen
4       5  The Catcher in the Rye        J.D. Salinger

# Customer List
url: http://localhost:8000/customers.html

In [10]:
import pandas as pd
from playwright.async_api import async_playwright
from bs4 import BeautifulSoup
import time

pw = await async_playwright().start()
browser = await pw.chromium.launch(headless = False)
page = await browser.new_page()
# url=f'http://localhost:8000/books.html'
_ = await page.goto('http://localhost:8000/customers.html')
await page.wait_for_selector('body')

### page 1
await page.click("#page1");
selector = await page.query_selector('body')
html_page1 = await selector.inner_html()
time.sleep(3)
### page 2
await page.click("#page2");
selector = await page.query_selector('body')
html_page2 = await selector.inner_html()
time.sleep(3)
await browser.close()

soup_page1 = BeautifulSoup(html_page1, 'html.parser')
soup_page2 = BeautifulSoup(html_page2, 'html.parser')

In [11]:
customers =  soup_page1.find_all('div', class_="my-customer-container") + soup_page2.find_all('div', class_="my-customer-container")
customers[0]

<div class="my-customer-container max-w-sm b rounded overflow-hidden shadow-lg ml-6 mt-6"><div class="customer_id bg-slate-50 p-2">1</div><div class="customer_name bg-slate-50 p-2">Alice Smith</div><div class="customer_email bg-slate-50 p-2">alice@example.com</div></div>

In [12]:
d=[]
for customer in customers:
    customer_id=customer.find('div',class_="customer_id").get_text(strip=True)
    name=customer.find('div',class_="customer_name").get_text(strip=True)
    email=customer.find('div',class_="customer_email").get_text(strip=True)
    d.append({'customer_id':customer_id, "name":name, "email":email})
pd.DataFrame(d)

  customer_id         name              email
0           1  Alice Smith  alice@example.com
1           2  Bob Johnson    bob@example.com
2           3  Carol White  carol@example.com
3           4  David Brown  david@example.com
4           5    Eve Davis    eve@example.com
5           1  Alice Smith  alice@example.com
6           2  Bob Johnson    bob@example.com
7           3  Carol White  carol@example.com
8           4  David Brown  david@example.com
9           5    Eve Davis    eve@example.com

# Rental List
url: http://localhost:8000/rentals.html

In [13]:
import pandas as pd
from playwright.async_api import async_playwright
from bs4 import BeautifulSoup

pw = await async_playwright().start()
browser = await pw.chromium.launch(headless = False)
page = await browser.new_page()
# url=f'http://localhost:8000/books.html'
_ = await page.goto('http://localhost:8000/rentals.html')

# await page.wait_for_selector('body')
await page.wait_for_function("() => document.getElementById('footer').innerText == 'Loading complete'")

selector = await page.query_selector('body')
html = await selector.inner_html()

await browser.close()

In [14]:
soup = BeautifulSoup(html, 'html.parser')
rentals =  soup.find_all('div', class_="my-rent-container")
rentals[0]

<div class="my-rent-container max-w-sm b rounded overflow-hidden shadow-lg ml-6 mt-6 bg-slate-50 p-2">
<div class="grid grid-cols-2 divide-x">
<div class="text-right p-1">Rent ID :</div>
<div class="text-left p-1 rent-id">1</div>
</div>
<div class="grid grid-cols-2 divide-x">
<div class="text-right p-1">BOOK ID :</div>
<div class="text-left p-1 book-id">1</div>
</div>
<div class="grid grid-cols-2 divide-x">
<div class="text-right p-1">Customer ID :</div>
<div class="text-left p-1 customer-id">1</div>
</div>
<div class="grid grid-cols-2 divide-x">
<div class="text-right p-1">Rent Date :</div>
<div class="text-left p-1 return-date">2023-01-01</div>
</div>
<div class="grid grid-cols-2 divide-x">
<div class="text-right p-1">Return Date :</div>
<div class="text-left p-1 rent-date">1</div>
</div>
</div>

In [15]:
d=[]
for rent in rentals:
    rent_id = rent.find('div',class_="rent-id").get_text(strip=True)
    book_id = rent.find('div',class_="book-id").get_text(strip=True)
    customer_id = rent.find('div',class_="customer-id").get_text(strip=True)
    rent_date = rent.find('div',class_="rent-date").get_text(strip=True)
    return_date = rent.find('div',class_="return-date").get_text(strip=True)
    d.append({'rent_id':rent_id,'book_id':book_id,'customer_id':customer_id, 'rent_date':rent_date, 'return_date':return_date})
pd.DataFrame(d)

  rent_id book_id customer_id rent_date return_date
0       1       1           1         1  2023-01-01
1       2       2           2         2  2023-01-05
2       3       3           3         3  2023-01-10
3       4       4           4         4  2023-01-15
4       5       5           5         5  2023-01-20
5       6       1           6         6  2023-02-01
6       7       2           7         7  2023-02-05
7       8       3           8         8  2023-02-10
8       9       4           9         9  2023-02-15
9      10       5          10        10  2023-02-20